In [1]:
%pwd

u'/Users/ronaldholt/Git/Rent_in_Nashville'

In [40]:
from bs4 import BeautifulSoup 
import urllib
import pandas as pd
from selenium import webdriver
from selenium.webdriver.support.ui import Select

In [30]:
base_url = "https://elementmusicrow.com/floor-plans/"

In [331]:
driver = webdriver.Chrome('/Users/ronaldholt/Downloads/chromedriver')
driver.get(base_url)

#close_login = driver.find_element_by_class_name("input-container")
select = Select(driver.find_element_by_id('type'))
select.select_by_value('Studio')

In [332]:
## the button to click on "Search" 
click_search = driver.find_element_by_class_name("button")
click_search.click()

In [333]:
html = driver.page_source

In [334]:
soup = BeautifulSoup(html, 'html.parser')

In [311]:
#print soup

In [335]:
#Found location in JS for data...
contents = soup.find_all('div', {'class' : 'unit-floating-title'})
for i in contents:
    print i.text

0804Studio - 579 Sq FtLevel 08$1435/monthAvailable Now
1122Studio - 665 Sq FtLevel 11$1444/monthAvailable Now
1804Studio - 564 Sq FtLevel 18$1639/monthAvailable Now
1822Studio - 665 Sq FtLevel 18$1578/monthAvailable

In [336]:
import re

df = []

for i in soup.find_all('div', {'class' : 'unit-floating-title'}):
    a = re.split(' |Studio|\$|/m|', i.text)
    #b = re.split('Studio|\$|/m|," "', i.text)
    print a
    unit = a[0]
    sqft = a[3]
    price = a[7]
    level = a[6]
    name = "Element"
    
    df.append([name, unit, sqft, price, level])
    
df = pd.DataFrame(df, columns=['name','unit', 'sqft', 'price', 'level' ])

[u'0804', u'', u'-', u'579', u'Sq', u'FtLevel', u'08', u'1435', u'onthAvailable', u'Now']
[u'1122', u'', u'-', u'665', u'Sq', u'FtLevel', u'11', u'1444', u'onthAvailable', u'Now']
[u'1804', u'', u'-', u'564', u'Sq', u'FtLevel', u'18', u'1639', u'onthAvailable', u'Now']
[u'1822', u'', u'-', u'665', u'Sq', u'FtLevel', u'18', u'1578', u'onthAvailable', u'']

In [337]:
df

      name  unit sqft price level
0  Element  0804  579  1435    08
1  Element  1122  665  1444    11
2  Element  1804  564  1639    18
3  Element  1822  665  1578    18

In [ ]:
1 Bedroom, 1 Bath
1 Bedroom, 2 Bath
2 Bedroom, 2 Bath
3 Bedroom, 2 Bath
3 Bedroom, 3 Bath

## 1 Bedrooms...

In [341]:
driver = webdriver.Chrome('/Users/ronaldholt/Downloads/chromedriver')
driver.get(base_url)

#close_login = driver.find_element_by_class_name("input-container")
select = Select(driver.find_element_by_id('type'))
select.select_by_value('1 Bedroom, 1 Bath')
## the button to click on "Search" 
click_search = driver.find_element_by_class_name("button")
click_search.click()

In [342]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

#Found location in JS for data...
contents = soup.find_all('div', {'class' : 'unit-floating-title'})
#for i in contents:
    #print i.text

In [343]:
import re

df_1b1b = []

for i in soup.find_all('div', {'class' : 'unit-floating-title'}):
    a = re.split(' |Bedroom 1 Bathroom|\$|/m|', i.text)
    #b = re.split('Studio|\$|/m|," "', i.text)
    #print a
    unit = a[0]
    sqft = a[4]
    price = a[8]
    level = a[7]
    name = "Element"
    
    df_1b1b.append([name, unit, sqft, price, level])
    
df_1b1b = pd.DataFrame(df_1b1b, columns=['name','unit', 'sqft', 'price', 'level' ])

In [344]:
df_1b1b.head()

      name   unit sqft price level
0  Element  02061  792  1500    02
1  Element  02241  890  1700    02
2  Element  03061  792  1525    03
3  Element  03151  767  1475    03
4  Element  03241  890  1737    03

## 1 bedroom 2 bath

In [375]:
driver = webdriver.Chrome('/Users/ronaldholt/Downloads/chromedriver')
driver.get(base_url)

#close_login = driver.find_element_by_class_name("input-container")
select = Select(driver.find_element_by_id('type'))
select.select_by_value('1 Bedroom, 2 Bath')
## the button to click on "Search" 
click_search = driver.find_element_by_class_name("button")
click_search.click()

In [376]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

#Found location in JS for data...
contents = soup.find_all('div', {'class' : 'unit-floating-title'})
#for i in contents:
    #print i.text
import re

#df_1b2b = []
df_1b2b = []
for i in soup.find_all('div', {'class' : 'unit-floating-title'}):
    a = re.split(' |1 Bedroom|2 Bathroom|\$|/m|', i.text)
    #b = re.split('Studio|\$|/m|," "', i.text)
    print a
    unit = a[0]
    sqft = a[5]
    price = a[9]
    level = a[8]
    name = "Element"
    
    #df_1b2b.append([name, unit, sqft, price, level])
    df_1b2b.append([name, unit, sqft, price, level])
    
#df_1b2b = pd.DataFrame(df_1b2b, columns=['name','unit', 'sqft', 'price', 'level' ]) 
df_1b2b = pd.DataFrame(df_1b2b, columns=['name','unit', 'sqft', 'price', 'level' ])

[u'0412', u'', u'', u'', u'-', u'1065', u'Sq', u'FtLevel', u'04', u'2240', u'onthAvailable', u'Now']
[u'0612', u'', u'', u'', u'-', u'1065', u'Sq', u'FtLevel', u'06', u'2266', u'onthAvailable', u'Now']
[u'08122', u'Bedroom', u'', u'', u'-', u'1065', u'Sq', u'FtLevel', u'08', u'2569', u'onthAvailable', u'Now']
[u'11122', u'Bedroom', u'', u'', u'-', u'1065', u'Sq', u'FtLevel', u'11', u'2389', u'onthAvailable', u'Now']
[u'12122', u'Bedroom', u'', u'', u'-', u'1065', u'Sq', u'FtLevel', u'12', u'2325', u'onthAvailable', u'Now']

In [377]:
df_1b2b.head()

      name   unit  sqft price level
0  Element   0412  1065  2240    04
1  Element   0612  1065  2266    06
2  Element  08122  1065  2569    08
3  Element  11122  1065  2389    11
4  Element  12122  1065  2325    12

## 2 bed 2 bath

In [374]:
df.head()
df_1b1b.head()
df_2b2b.head()
df_3b2b.head()
df_3b3b.head()

      name  unit  sqft  price level
0  Element  1903  2176   6764    19
1  Element  1914  3222  11492    19

In [378]:
%pwd

u'/Users/ronaldholt/Git/Rent_in_Nashville'

In [379]:
mkdir data

In [380]:
cd data/

/Users/ronaldholt/Git/Rent_in_Nashville/data

In [381]:
%pwd

u'/Users/ronaldholt/Git/Rent_in_Nashville/data'

In [385]:
x = pd.concat([df, df_1b1b, df_1b2b, df_2b2b, df_3b2b, df_3b3b])

In [386]:
x.to_csv('element.csv')